/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

/*a         { color: #00a; }*/
/*a:hover   { color: #000; }*/
/*a:visited { color: #a0a; }*/

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
.post h1 {
    font-size: 25px;
}

.blue {
    background-color: #428bca;
    color: white;
}
.blue a {
    color: #ffffff !important;
}
#wrapper4
{
    overflow: hidden;
    padding: 8em 0em;
    background: #E74E59;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer
{
    text-align: center;
}
#footer .title h2
{
    font-size: 45px;
    color: white;
}

#footer .title span
{
    color: rgba(255,255,255,0.4);
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{   background-color: black;
    overflow: hidden;
    padding: 5em 0em;
    border-top: 1px solid rgba(255,255,255,0.08);
}

#copyright p
{
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    color: rgba(255,255,255,0.3);
}

#copyright a
{
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}

ul.contact
{
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}

ul.contact li
{
    display: inline-block;
    padding: 0em 0.30em;
    font-size: 1.5em;
}

ul.contact li span
{
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a
{
    color: #FFF;
}

#wrapper3
{
    overflow: hidden;
    padding: 2em 0em;
    background: #8DCB89;
}
#wrapper3 h2
{
    font-size: 35px;
    color: white;
    text-align:center;
}
#wrapper3 .posts-box-text
{
    text-align: center;

}
#wrapper3 .posts-box-text a
{
  font-size: 14px;
    color: white;
}
.wrapper-intro h1
{
    font-size: 20px;
    padding-bottom: 13px;
    border-bottom: 1px solid #999;
}
.wrapper-intro p
{
    font-family: Georgia, Serif;
    font-style: italic;
    color: #666;
}





